
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sanin-sanso.iml
.idea/vcs.xml
report_pdf_options/images/main_1.png
report_pdf_options/images/main_screenshot.png
report_pdf_options/static/description/defaultoption.gif
report_pdf_options/static/description/printoptions.gif
report_pdf_options/static/description/printoptions2.gif
*.gif
*.png
ss_erp_accounting/.svn/entries
ss_erp_accounting/.svn/format
*.svn-base
ss_erp_accounting/.svn/wc.db
ss_erp_accounting/.svn/wc.db-journal
ss_erp_approval/.svn/entries
ss_erp_approval/.svn/format
ss_erp_approval/.svn/wc.db
ss_erp_approval/.svn/wc.db-journal
*.db
*.db-journal
ss_erp_bank_fb/.svn/entries
ss_erp_bank_fb/.svn/format
ss_erp_external_data_import/.svn/entries
ss_erp_external_data_import/.svn/format
ss_erp_hr/.svn/entries
ss_erp_hr/.svn/format
ss_erp_manufacturing/.svn/entries
ss_erp_manufacturing/.svn/format
ss_erp_organization/.svn/entries
ss_erp_organization/.svn/format
ss_erp_svf_intergration/.svn/format
ss_erp_svf_intergration/.svn/entries
ss_erp_superstream/.svn/entries
ss_erp_superstream/.svn/format
ss_erp_stock/.svn/entries
ss_erp_stock/.svn/format
ss_erp_sale/.svn/format
ss_erp_sale/.svn/entries
ss_erp_responsible_dept/.svn/entries
ss_erp_responsible_dept/.svn/format
ss_erp_res_users/.svn/entries
ss_erp_res_users/.svn/format
ss_erp_res_partner/.svn/entries
ss_erp_res_partner/.svn/format
ss_erp_res_company/.svn/entries
ss_erp_res_company/.svn/format
ss_erp_purchase/.svn/format
ss_erp_purchase/.svn/entries
ss_erp_product_template/.svn/format
ss_erp_product_template/.svn/entries
*.pyc
ss_erp_stock_account/.svn/entries
ss_erp_stock_account/.svn/format
ss_erp_dropshipping/.svn/entries
ss_erp_dropshipping/.svn/format
ss_erp/models/construction.py
ss_erp/models/hr_expense.py
ss_erp/models/hr_expense_sheet.py
ss_erp/models/partner_rebate.py
ss_erp/models/purchase_order.py
ss_erp/models/sale_order.py
ss_erp/models/stock_scrap.py
ss_erp_rule/.svn/entries
ss_erp_rule/.svn/format
ss_erp_superstream/wizards/sstream_journal_entry_output.py.mine
ss_erp_superstream/wizards/sstream_journal_entry_output.py.r2733
ss_erp_superstream/wizards/sstream_journal_entry_output.py.r2736
ss_erp_config_settings/.svn/entries
ss_erp_config_settings/.svn/format
